
/* configurações globais */
* 
{
    box-sizing: border-box;
    border: none;
    margin: 0;
    padding: 0;    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    
}

/* classes para se reutilizar */
:root
{
    
    --bg-principal: #060911;
    --bg-secundario: #090c14;
    --bg-terciario: #0c0e1d;
    --cor-destaque: #804ad1;
    --azul-roxo: #5a7aec;
    --cor-texto-principal: #FFFFFF;
    --cor-texto-secundario: #8B8E99;
    --cor-borda: #1b2030;
    --verde: #1c9e60;
    --vermelho: #cc3d54;

    --font-micro: 11px;
    --font-pequena: 13px;
    --font-base: 14px;
    --font-titulo-secao: 13px;
    --font-titulo-jogo: 16px;
    --font-logo: 20px;

    --font-titulo-logo: 24px;
    --font-logo: 20px;

}
html {
    font-size: 16px;
}

h1 {
    font-size: 2rem;
    color: var(--cor-texto-principal);
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1.125rem;
}

p {
    font-size: 1rem;
    color:var(--cor-texto-secundario);
}






.layout-principal {
  display: flex;
  height: 100vh; 
  overflow: hidden;
}

.sidebar {
  width: 250px;
  background-color: #151720;
  color: white;
  padding: 20px;
  
  transition: all 0.3s ease; 
  white-space: nowrap; 
  overflow: hidden; 
}

.sidebar.recolhida {
  width: 0px;
  padding: 0px; 
}

.conteudo-site {
  flex: 1; 
  background-color: #0B0D14;
  color: white;
  padding: 40px;
}

.barraLateral
{
    display: flex;
    width: auto;
    border:1px solid var(--cor-borda);
    padding: 30px;
    overflow: hidden;
}
.icones, .iconesEspacos a{
    color: var(--cor-texto-secundario);
}

 #open{
    display: none;
}
.iconesEspacos{
    display: flex; align-items: center; justify-content: flex-start;
    padding: 0;
}


.barraLateral.recolhida {

    width: auto;
  padding: 5px; 
  
}
.barraLateral.recolhida #fundoSidebar{
    margin-bottom: 30px;
}

.barraLateral.recolhida  a, .barraLateral.recolhida  > .tituloHeader, .barraLateral.recolhida p{

    display: none;
    width: auto;
}
.barraLateral.recolhida .categorias {
    display: none;
}
.categorias{
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.iconesEspacos:hover{
  
}
.numeroCategoria{
       width: 24px;
    height: 24px;
    color: var(--cor-texto-secundario);
    margin: 0;
    padding: 0;
    border-radius: 50%;
    background-color: var(--cor-borda);
    display: flex;
    align-items: center;
    justify-content: center;
}

.barraLateral.recolhida #fecharIcon{
    display: none;
}
.barraLateral.recolhida #open{

    display: flex;
}

.barraLateral{
     transition: all 1s ease; 
      white-space: nowrap; 
  
}

.cards{
    display: flex;
    flex-wrap: wrap

}



html {
    scroll-behavior: smooth;
    background-color: rgb(92, 92, 92);
  
}

h1
{
    font-size: 24px;

}
html button, select, svg
{
    cursor: pointer;
}
   
body {
    display: flex;
    justify-content: flex-start;
    
    overflow-x: hidden;
    margin: 0%;
    padding: 0%;
    border: 0%;
    background: var(--bg-principal);
     
    
    
}
.conteudoSite{
    flex: 1;
    min-width: 0;
    padding: 30px;
}
.iconesDiv{
    display: flex;
    flex-direction: column;
    gap: 35px;
  
    
    border-top:1px solid var(--cor-borda);
}

.barraLateral.recolhida .iconesDiv{
 
    display: flex;
    align-items: center;
    padding: 0;
}

.iconesEspacos{
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}
.iconesEspacos > p, .iconesEspacos > svg, .iconesEspacos > path, .diferentao
{
    color: var(--cor-texto-secundario);
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
   
    min-height: auto;
    min-width: 320px;
    background-color: var(--bg-principal);
   
   
}
main
{
  

    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin:  20px;
    flex: 1;
}

.roxear{
    color: var(--azul-roxo);
}
.tituloHeader{
    display: flex;
    gap: 15px;
}
#logoHeader{
    display: flex;
    justify-content: flex-start;
     gap: 15px;
}
.controlIcon{
   
    width: 50px; 
  height: 50px;
   color: var(--azul-roxo);
}
.titulos
{ 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    background-color: var(--bg-principal);
}
.jogado > .titulos >h1 {
    color: var(--verde);
}

.tenhoInteresse > .titulos >h1 {
    color: var(--azul-roxo);
}
.abandonado > .titulos >h1 {
    color: var(--vermelho);
}
.jogando > .titulos >h1 {
    color: var(--cor-destaque);
}

footer {
     display: flex;
    flex-direction: column;
   
    
    min-width: 320px;
    background-color: var(--background1);
    align-content: flex-end;
    
}
.recomendacao {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: 150px;
    overflow: hidden;
}

.recomendacao > .cartaoJogo {
    height: 150px;
    min-width: 150px;
    flex: 1 1 150px;
}

.barraPesquisa{
   
    height: 35px;
    width: 60%;
    min-width: 320px;
     position: relative;
    display: flex;

    align-items: center;
     gap: 20px; justify-content: space-between; 
    
    
}
.barraPesquisa>svg{
      position: absolute;
    left: 12px;
    width: 18px;
    height: 18px;
}
.elementosBarraPesquisa{
    color: var(--cor-texto-secundario);
}
.barraPesquisa > input, #botaoFiltrar{
    background-color: var(--bg-secundario);
    border:1px solid var(--cor-borda);
}
#botaoFiltrar{
      background-color: var(--bg-secundario);
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 80px;
    height: 33px;
    border-radius: 5px; flex: 1; 
}
.btn-estilizado {
    text-decoration: none; 
    border: none;
    background-color: transparent;
    color: white;
    padding: 0;
    font-size: 1rem;
    transition: transform 0.1s ease;
}
.adicionarJogos > .btn-mais{
    height: 130px;
}

#adicionarJogosBotao{
       display: flex; 
    overflow-x: auto; 
    background-color: var(--bg-principal); 
    width: 100%; 
    height: 100px; 
    min-width: 50%; 
    scroll-snap-type: x mandatory; 
}



#adicionarJogosBotao > button 
{

     background: var(--bg-terciario);
    display: flex;
    justify-content: center;
   
    min-width: 256px;
    height: 100%;
    width: 100% ;
    border-radius: 16px;


      border:1px solid var(--cor-borda);

    
}

.pEscuro{
    color:var(--cor-texto-secundario);
}

.adicionarJogos > button > div, #adicionarJogosBotao > button > div
{
    display: flex;
    
    
   
    flex-direction: column;
    font-size: var(--font-pequena);
    margin: 0;
    gap: 0px;
    margin: 0px;
    
}
.mais
{

    
    height: 50px;
    width: 50px;
    color: var(--cor-destaque);
    gap:0px;
    margin-top: 0px;
    border: 0px;
    
}

.janelaAdicionar
{
    top: 50%;
    left: 50%;
    transform: translate(-50%,  -50%);
    display: flex;
    position: fixed;
    justify-content: center;
    width: 50%;
    min-width: 320px;
    min-height: 320px;

    border-radius: 8px;
    box-shadow: 0 0 0 100vmax rgba(62, 61, 61, 0.8);
    z-index: 999;
    flex-direction: column;
    border: 0;
  
    
    background-color: var(--azul-roxo);
       
}
.janelaAdicionar > .janelinha
{
    display: flex;
    flex-direction: row;
    width: 100%;
   
    padding: 10px;
    gap: 15px;  
    
    
}


.capaJogo
{
    width: 30%;
   
    
}
.janelaAdicionar h2
{
    display: flex;
    justify-content: center;
    
    max-height: 40px;
    height: 35px;
    width: 100%;
    background-color: var(--background4);

}
.inputs input, .inputs select
{

    min-height: 40px;
    margin: 10px;
    margin-top: 0;
    margin-left: 0 ;
    display: flex;
    width: 100%;

    
}
.inputs
{
    width: 100%;
    height: 50%;
}

.janelaAdicionar > .botoes button
{
    
    color: var(--bg-principal);

    max-height: 30px;
    height: 100%;

}
.janelaAdicionar > .botoes
{
   
    min-height: 20px;
    padding-bottom: 10px;
    padding-top: 20px;
    display: flex;
    align-items: flex-end;
    gap: 10px;
    justify-content: space-around;
}
.janelaAdicionar > .janelinha > img
{
    min-height: 300px;
  height: 50%;
  min-width: 300px;
  flex-shrink: 0;
}

.janelaAdicionar button
{
    width: 40%;
}
/*  O VISUAL DO CARTÃO DO JOGO  */
.cartaoJogo {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    min-width: 256px;
    width: auto;
    flex: 1;
    
   
    border-radius: 8px; 
    overflow: hidden; 
    position: relative; 
    scroll-snap-align: start;
    border:1px solid var(--cor-borda);
}


.cartaoJogo img {
    width: 100%;
    height: 70%; 
    object-fit: cover;
}


.info-cartao {
    display: flex;
    flex-direction: column;
    transform: translate(-50, -50);
}
.botaoCartaoJogo{
    display: flex;
      width: calc(100% - 40px);
  padding: 15px;
    
}

.cartaoJogo h3 {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 5px;
    text-align: center;
}

.cartaoJogo .etiqueta-status {
    background-color: var(--background4);
    color: white;
    padding: 2px 10px;
    border-radius: 20px;
    font-size: 0.8rem;
}
.cartaoJogo button
{  background: none; 
    width: 100%;
    height: 100%;
}

/*JOGANDO*/
.jogando .btn-mais, 
.abandonado .btn-mais, 
.jogado .btn-mais, 
.tenhoInteresse .btn-mais {
    display: none;
}
.jogando{
  
}

.jogando, .abandonado, .jogado, .tenhoInteresse
{
    overflow: hidden;
    padding-bottom: 30px;
    padding-top: 30px;
    min-width: 50%;
    max-width: 50%;
      display: flex;
    flex-direction: column;
    gap: 15px;
    
}
.jogando, .jogado{
    padding-right: 20px;
}
.adicionarJogos {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
    overflow: hidden;
    background-color: var(--bg-principal);
    width: 100%;
    height: 200px;
}

.adicionarJogos > .cartaoJogo:only-of-type {
    grid-column: 1 / -1;
}

.adicionarJogos > .cartaoJogo:nth-of-type(n+3) {
    display: none;
}

.cartaoJogo {
    width: auto;
    min-width: 0;
}


.jogos{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
/*JANELA DO CARTÃO DO JOGO */

.exibirCartaoJogo{
    
    

     top: 50%;
    left: 50%;
    transform: translate(-50%,  -50%);
    display: flex;
    position: fixed;
    justify-content: center;
    width: 50%;
    min-width: 320px;
    min-height: 320px;

    border-radius: 8px;
    box-shadow: 0 0 0 100vmax rgba(62, 61, 61, 0.8);
    z-index: 999;
    flex-direction: column;
    border: 0;
  
    background-color: var(--bg-principal);   

}

.infoJanelaCartaoJogo
{
     display: flex;
    flex-direction: row;
    width: 100%;
   min-width: 300px;
    padding: 10px;
    gap: 15px;  
   
}
.exibirCartaoJogo h3
{
    display: flex;
    justify-content: center;
    
    max-height: 40px;
    height: 35px;
    width: 100%;
    background-color: var(--background4);
    
}

.exibirCartaoJogo > .infoJanelaCartaoJogo > .tagsJECJ
{
    display: flex;
    flex-direction: column;
    width: 100%;
    
    
}
.exibirCartaoJogo > .infoJanelaCartaoJogo > .tagsJECJ > p, .tagsJECJ input, .tagsJECJ select
{
    margin-bottom: 10px;    
}

.infoJanelaCartaoJogo img
{
     object-fit: cover;
    min-height: 300px;
  height: 00%;
  min-width: 300px;
}
.infoJanelaCartaoJogo p, .infoJanelaCartaoJogo span
{
    padding: 0 0 0 10px;
    color: #101010;
    background-color: var(--background6);
    width: 100%;
    
}
.infoJanelaCartaoJogo > .tagsJECJ > .destacarTagsJECJ
{
    display: flex;
    justify-content: center;
    background-color: var(--background4);
    padding: 0;
}
.botoesECJ
{
      min-height: 20px;
    padding-bottom: 10px;
    padding-top: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    
}
.botoesECJ > button
{
   
   width: 40%;
}



/*RESPONSIVIDADE*/

@media(max-width: 1080px)
{
    .janelaAdicionar > .janelinha
    {
        display: flex;
        align-items: center;
        flex-direction: column;
        
    }
    .exibirCartaoJogo > .infoJanelaCartaoJogo
    {
         display: flex;
        align-items: center;
        flex-direction: column;
        
        
    }
    .infoJanelaCartaoJogo img
    {
        max-width: 200px;
    }
    
   
    
.inputs input, .inputs select
{

    min-height: 40px;
    
    display: flex;
    width: 100%;
    
}
}
@media (max-width: 767px ){
    .cards{
        display: flex;
        flex-wrap: wrap;
    }
    .jogando, .abandonado, .jogado, .tenhoInteresse
{
    overflow: hidden;
    padding-bottom: 20px;
    padding-top: 0px;
    min-width: 100%;
    max-width: 100%;
      display: flex;
    flex-direction: column;
    gap: 15px;
    
}
.jogado, .jogando{
    padding-right: 0;
}
    .adicionarJogos{
        height: 100px;
    }
    .barraPesquisa{
        min-width: none;
        width: 100%;
    }
    .cartaoJogo{
        height: auto;
    }
}