
/* configurações globais */
* 
{
    box-sizing: border-box;
    border: none;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

/* classes para se reutilizar */
:root
{
    --background1: #101010;
    --background2: #1f1f1f;
    --background3: #252424;
    --background4: #1f699a;
    --background5: #6c6c6c;

}

html {
    scroll-behavior: smooth;
    background-color: rgb(92, 92, 92);
  
}
html h1, p
{
    color: rgb(215, 236, 255);
}
html button, select
{
    cursor: pointer;
}
   
body {
  
    width: 100%;
    margin: 0%;
    padding: 0%;
    background: rgb(44, 42, 42);
     min-width: 320px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    min-height: 80px;
    min-width: 320px;
    background-color: var(--background1)
   
   
}
main
{
  
    display: flex;
    justify-content: flex-end;
    flex-direction: column-reverse;
    margin:  20px;
    flex: 1;
}

main > .jogos > .titulos
{ 
    display: flex;
    justify-content: center;
    background-color: var(--background4);
    
}

footer {
     display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px; 
    padding: 0 20px;
    min-width: 320px;
    background-color: var(--background1);
    align-content: flex-end;
}

.btn-estilizado {
    text-decoration: none; 
    border: none;
    background-color: transparent;
    color: white;
    padding: 0.6em 1em;
    font-size: 1rem;
    transition: transform 0.1s ease;
}
.adicionarJogos {
    display: flex;
    background-color: var(--background3);
    width: 100%;
    height: 200px;
    min-width: 50%;
    
         
}

.adicionarJogos > button 
{

     background: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    min-width: 256px;
    height: 87%;
    width: 33%;
    margin: 10px;

    
}

.adicionarJogos > button > p
{
    font-size: 100px;
    margin: 0;
    color: aqua;
}
.janelaAdicionar
{
    top: 50%;
    left: 50%;
    transform: translate(-50%,  -50%);
    display: flex;
    position: fixed;
    justify-content: center;
    width: 50%;
    min-width: 320px;
    min-height: 320px;

    border-radius: 8px;
    box-shadow: 0 0 0 100vmax rgba(62, 61, 61, 0.8);
    z-index: 999;
    flex-direction: column;
    border: 0;
  
    
    background-color: var(--background3);
       
}
.janelaAdicionar > .janelinha
{
    display: flex;
    flex-direction: row;
    width: 100%;
   
    padding: 10px;
    gap: 15px;  
    
    
}


.capaJogo
{
    width: 30%;
   
    
}
.janelaAdicionar h2
{
    display: flex;
    justify-content: center;
    
    max-height: 40px;
    height: 35px;
    width: 100%;
    background-color: var(--background4);

}
.inputs input, .inputs select
{

    min-height: 40px;
    margin: 10px;
    margin-top: 0;
    margin-left: 0 ;
    display: flex;
    width: 100%;

    
}
.inputs
{
   
    
    width: 100%;
    height: 50%;
}

.janelaAdicionar .botoes button
{
    
    color: var(--background5);
    
    max-height: 30px;
    height: 100%;

}
.janelaAdicionar > .botoes
{
   
    min-height: 20px;
    padding-bottom: 10px;
    padding-top: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}
.janelaAdicionar > .janelinha > img
{
    min-height: 300px;
  height: 50%;
  min-width: 300px;
}

.janelaAdicionar button
{
    width: 40%;
}

/*RESPONSIVIDADE*/

@media(max-width: 1080px)
{
    .janelaAdicionar > .janelinha
    {
        display: flex;
        align-items: center;
        flex-direction: column;
        
    }
    
.inputs input, .inputs select
{

    min-height: 40px;
    
    display: flex;
    width: 100%;

    
}
   

}
/*  O VISUAL DO CARTÃO DO JOGO  */
.cartaoJogo {
    display: flex;
    flex-direction: column;
    background-image: url(tiny.png);
    background-size: cover;
    background-position: center;
    min-width: 256px;
    width: 33%;
    height: 87%; 
    margin: 10px;
    border-radius: 8px; 
    overflow: hidden; 
    position: relative; 
}


.cartaoJogo img {
    width: 100%;
    height: 70%; 
    object-fit: cover;
}

.cartaoJogo .info-cartao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
    padding: 5px;
    
    transform: translate(-50, -50);
}

.cartaoJogo h3 {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 5px;
    text-align: center;
}

.cartaoJogo .etiqueta-status {
    background-color: var(--background4);
    color: white;
    padding: 2px 10px;
    border-radius: 20px;
    font-size: 0.8rem;
}
.cartaoJogo button
{
    background: none;
    width: 100%;
    height: 100%;
}

/*JANELA DO CARTÃO DO JOGO */

.exibirCartaoJogo{
    
    

    top: 50%;
    left: 50%;
    transform: translate(-50%,  -50%);
    display: flex;
    position: fixed;
    flex-direction: column;
    
    width: 50%;
    min-width: 320px;
    min-height: 320px;
    border-radius: 8px;
    box-shadow: 0 0 0 100vmax rgba(62, 61, 61, 0.8);
    z-index: 999;
    border: 0;

  
    background-color: var(--background3);

}
.infoJanelaCartaoJogo
{
    gap: 10px;
    
    padding: 10px 10px 10px 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
   
}
.exibirCartaoJogo h3
{
    display: flex;
    justify-content: center;
    
    max-height: 40px;
    height: 35px;
    width: 100%;
    background-color: var(--background4);
}

.exibirCartaoJogo > .infoJanelaCartaoJogo > .tagsJECJ
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    
}